@font-face {
    font-family: 'Impact'; /* Use 'Impact' without the .ttf */
    src: url('/fonts/impact.ttf') format('truetype'); /* Make sure the path to your font file is correct */
    font-weight: normal;
    font-style: normal;
}
